.container {
    width: 80%;
    height: 140px;
    margin: 0 auto;
}
.container_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

hr {
    background-color: whitesmoke;
    size: 1px;
    opacity: .25
}

.headline {
    margin-right: 2px;
    background-color: whitesmoke;
    color: black;
    font-size: 17px;
    text-align: justify;
}

/*
details[open] > *:not(summary){
    text-indent: 32px;
    margin: 0px;
}*/

details[open] > p {
    margin: 0px;
}

details[open] > p:nth-of-type(2) {
    margin: 0px;
    text-indent: 32px;
}

summary {
    color: #71797E;
}


ul {
    display: grid;
    align-items: left-start;
    padding-left: 20px;
    margin-top: -15px;
    line-height: 1.25;
}

li {
    margin-bottom: 1px;
}


.custom-video {
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

.custom-video__container {
    position: relative;
    top: 0;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-video__video {
    border-radius: 0.2em;
    cursor: pointer;
    object-fit: fill;
}

.custom-video__control {
    position: absolute;
    top: 43%;
    left: 46%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    width: 2em;
    height: 2em;
    white-space: nowrap;
    line-height: 0;
}

video::-webkit-media-controls {
    position: relative;
    z-index: 1;
}

.fighd {
    color: #1f77b4;
}
